export type LanguageCode = 'pt-BR' | 'en-US';

export interface LanguageOption {
  code: LanguageCode;
  label: string;
  flag: string;
  resume: string;
  cover: string;
}

export const Languages: LanguageOption[] = [
  {
    code: 'pt-BR',
    label: 'Português (Brasil)',
    flag: '🇧🇷',
    resume: "Currículo",
    cover: "Carta de Apresentação"
  },
  {
    code: 'en-US',
    label: 'English (US)',
    flag: '🇺🇸',
    resume: "Resume",
    cover: "Cover Letter"
  },
];