import { SkillsDetails } from '../types/resumeType';

export const skillsDetails: Record<string, SkillsDetails> = {
    'pt-BR': {
        skillsTitle: "COMPETÊNCIAS TÉCNICAS",
        skills: [
            {
                name: "LINGUAGENS",
                items: ["TypeScript", "JavaScript", "Go", "Python", "Java", "C#", "SQL", "HTML5/CSS3"]
            },
            {
                name: "FRAMEWORKS E BIBLIOTECAS",
                items: ["Node.js", "Express", "NestJS", "React", "Next.js", "Vue.js", "Tailwind CSS", "GraphQL"]
            },
            {
                name: "BANCOS DE DADOS",
                items: ["PostgreSQL", "MongoDB", "MySQL", "Redis", "Elasticsearch"]
            },
            {
                name: "DEVOPS E CLOUD",
                items: ["Docker", "Docker Compose", "Kubernetes", "AWS (S3, EC2)", "GitHub Actions", "CI/CD"]
            },
            {
                name: "PROTOCOLOS E ARQUITETURA",
                items: ["APIs RESTful", "Webhooks", "WebSockets", "Microsserviços", "Mensageria (RabbitMQ, Kafka)"]
            },
            {
                name: "METODOLOGIAS E BOAS PRÁTICAS",
                items: ["Metodologias Ágeis (Scrum/Kanban)", "Clean Code & SOLID", "TDD", "Arquitetura Limpa", "Design Patterns"]
            }
        ]
    },
    'en-US': {
        skillsTitle: "CORE TECHNICAL SKILLS",
        skills: [
            {
                name: "LANGUAGES",
                items: ["TypeScript", "JavaScript", "Go", "Python", "Java", "C#", "SQL", "HTML5/CSS3"]
            },
            {
                name: "FRAMEWORKS AND LIBRARIES",
                items: ["Node.js", "Express", "NestJS", "React", "Next.js", "Vue.js", "Tailwind CSS", "GraphQL"]
            },
            {
                name: "DATABASES",
                items: ["PostgreSQL", "MongoDB", "MySQL", "Redis", "Elasticsearch"]
            },
            {
                name: "DEVOPS AND CLOUD",
                items: ["Docker", "Docker Compose", "Kubernetes", "AWS (S3, EC2)", "GitHub Actions", "CI/CD"]
            },
            {
                name: "PROTOCOLS AND ARCHITECTURE",
                items: ["RESTful APIs", "Webhooks", "WebSockets", "Microservices", "Messaging (RabbitMQ, Kafka)"]
            },
            {
                name: "METHODOLOGIES AND BEST PRACTICES",
                items: ["Agile Methodologies (Scrum/Kanban)", "Clean Code & SOLID", "TDD", "Clean Architecture", "Design Patterns"]
            }
        ]
    }
};